<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Write a mail</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-radio-group formControlName="type">
            <mat-radio-button value="email">Email</mat-radio-button>
            <mat-radio-button value="cmail">Certified Mail</mat-radio-button>
            <mat-radio-button value="rmail">Registered Mail</mat-radio-button>
            <mat-radio-button value="bmail">Business Mail</mat-radio-button>
            <mat-radio-button value="pmail">Physical Mail</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-chip-list #chipList aria-label="Recipient selection">
              <mat-chip
                *ngFor="let recipient of recipients"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="remove(recipient)">
                {{recipient}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input
                placeholder="Recipients"
                #recipientInput
                [formControl]="recipientCtrl"
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
              <mat-option *ngFor="let recipient of filteredRecipients | async" [value]="recipient">
                {{recipient}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>


      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Subject" formControlName="subject">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field >
            <mat-select placeholder="Issuer type" formControlName="issuerType">
              <mat-option *ngFor="let mailObjectType  of mailObjectTypes" >
                {{ mailObjectType }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field >
            <input matInput placeholder="issuerReference" formControlName="issuerReference">
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
