<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card" appDnd (fileDropped)="onFileDropped($event)">
    <mat-card-header>
      <mat-card-title>Compose a mail</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-radio-group formControlName="type">
            <mat-radio-button value="email">Email</mat-radio-button>
            <mat-radio-button value="cmail">Certified Mail</mat-radio-button>
            <mat-radio-button value="rmail">Registered Mail</mat-radio-button>
            <mat-radio-button value="bmail">Business Mail</mat-radio-button>
            <mat-radio-button value="pmail">Physical Mail</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-chip-list #chipList aria-label="Recipient selection">
              <mat-chip
                *ngFor="let recipient of recipients"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="remove(recipient)">
                {{recipient}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input
                placeholder="Recipients"
                #recipientInput
                [formControl]="recipientCtrl"
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
              <mat-option *ngFor="let recipient of filteredRecipients | async" [value]="recipient">
                {{recipient}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Subject" formControlName="subject">
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-chip-list #chipListAttachment aria-label="Attachment selection">
              <button mat-raised-button color="primary" (click)="fileInput.click()" type="button">
                <mat-icon>attachment</mat-icon>
                <input #fileInput type="file" multiple (change)="fileBrowseHandler($event.target.files)" style="display:none;" />
              </button>
              <mat-chip *ngFor="let attachment of attachments" [selectable]="selectable"
                       [removable]="removable" (removed)="removeAttachment(attachment)">
                {{attachment.name}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input placeholder="Attachments"
                     [matChipInputFor]="chipListAttachment"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     [matChipInputAddOnBlur]="attachmentAddOnBlur"
                     (matChipInputTokenEnd)="addAttachment($event)">
            </mat-chip-list>
          </mat-form-field>

          <div class="files-list">
            <div class="single-file" *ngFor="let file of files; let i = index">
              <div class="info">
                <span class="name">
                  {{ file?.name }}
                </span>
                <span class="size">
                  {{ formatBytes(file?.size, 2) }}
                </span>
                <app-progress [progress]="file?.progress"></app-progress>
              </div>

              <div class="delete" (click)="deleteFile(i)">
                <mat-icon>cancel</mat-icon>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="row" >
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Content</mat-label>
            <textarea rows="15" matInput placeholder="Please write content..."></textarea>
          </mat-form-field>
        </div>
      </div>

      <!-- <div class="row">
        <div class="col">
          <mat-form-field >
            <mat-select placeholder="Issuer type" formControlName="issuerType">
              <mat-option *ngFor="let mailObjectType  of mailObjectTypes" >
                {{ mailObjectType }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field >
            <input matInput placeholder="issuerReference" formControlName="issuerReference">
          </mat-form-field>
        </div>
      </div> -->

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
